<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('partials/custom')%>
    <title> <%=title%> </title>
</head>
<body>
    <%- include('partials/navigation')%>

    <div class="container__about">

        <h1 class="title__About">Esta es la página de about</h1>
        
        <p>deado como un entorno de ejecución de JavaScript orientado a eventos asíncronos, Node.js está diseñado para crear aplicaciones network escalables. En el siguiente ejemplo de "hola mundo", pueden atenderse muchas conexiones simultáneamente. Por cada conexión, se activa la devolución de llamada o callback, pero si no hay trabajo que hacer, Node.js se dormirá.</p>

    </div>

    <%-include('partials/footer')%>
</body>
</html>