<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= title%> </title>
    <%-include('partials/custom')%>
</head>
<body>

    <%- include('partials/navigation')%>
    <div class="container__index">

        <h1 class="title__index">Sitio web realizado en node js</h1>
    
        <p>Este sitio web se realizó con el fin de practicar nodejs y aplicando sus temas básicos para el desarrollo de un proyecto de iniciante</p>
    

        
    </div>
    <%-include('partials/footer')%>
    
    
   
</body>
</html>