<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="footer__container">

    
    <div class="container__items">
       
        <a href=""><i class="fa-brands fa-linkedin fa-2xl  " style="color: white;"></i></a>
        <a href=""><i class="fa-brands fa-github fa-2xl" style="color: white;"></i></a>
        <a href=""><i class="fa-brands fa-hackerrank fa-2xl" style="color: white;"></i></a>
        <a href=""><i class="fa-solid fa-at fa-2xl" style="color: white;"></i></a>
    
       
    </div>

    <span>Hecho por Juma||Reaper Diper</span>

    <span>Copyright 2022</span>
</div>

<!-- <h1>This is the footer</h1>



<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam ab deleniti incidunt corrupti dolorum mollitia repudiandae aperiam tenetur. Eligendi consequatur vitae officia nulla quae maiores deleniti inventore tenetur laboriosam quo?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae quibusdam explicabo temporibus quisquam consectetur distinctio impedit aperiam perspiciatis saepe obcaecati, cupiditate doloremque incidunt tempore culpa deserunt deleniti quasi, ad harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, quos nostrum veniam libero deleniti nemo ea, minima, at sed soluta illum! Qui fugiat accusantium repudiandae accusamus temporibus facere dicta illo.</p> -->